* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    background-image: url(./imagens/teste\ \(1\).jpg);
    background-blend-mode: multiply;
    font-family: monospace;
}

#baixo{
    border-top: 4px solid #4b438f;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #282241; 
    text-align: center;
    font-size: 35px; 
    color: white;
}

nav{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #282241;
    height: 70px;
}
#menu1:hover
{
    text-decoration: underline;
}
a:hover
{
    text-decoration: underline;
}
p{
    color:#fff;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}
h2{
    font-size: 60px;
    color: #fff;
}
h1{
    font-size: 60px;
    color: #fff;
}
h3{
    font-size: 30px;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#caixinhalek{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border-radius: 100px;
    border: 4px #282241 solid;
    width: 500px;
    height: 650px;
}

#menu1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
    height: 60px;
}

#grandealto{
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal2{
    margin-left: 30px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer{
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: #282241;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-left: 340px;
    margin-bottom: -30px;
    width: 25px;
    height: 30px    
}
.icon2{
    margin-left: 370px;
    margin-bottom: -30px;
    width: 25px;
    height: 30px    
}
.icon3{
    margin-left: 360px;
    margin-bottom: -30px;
    width: 25px;
    height: 30px    
}
.icon4{
    margin-left: 387px;
    margin-bottom: -30px;
    width: 25px;
    height: 30px    
}
.icon5{
    margin-left: 692px;
    margin-bottom: -30px;
    width: 25px;
    height: 30px
    
}
li{
    color:#fff;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}
@media (max-width: 600px) {
nav, article {width: 100%; height: auto;}
}